* {   
  font-family: Arial, sans-serif; /* Fontul principal pentru conținut */
  margin: 0;      /* Fără margini implicite */
  padding: 0;     /* Fără padding */
  text-align: center;  /* Centrează textul în pagină */
  background-image: url('floor-tile.png');
  background-size: 200px; /* Ajustează dimensiunea dorită */
  background-repeat: repeat;
}
.welcome-image {
  width: 100vw;         /* Ocupă toată lățimea ecranului */
  max-width: 100%;      /* Se asigură că nu depășește containerul */
  height: 500px /*auto*/;         /* Păstrează proporțiile */
  object-fit: cover;    /* Evită distorsiuni */
  display: block;       /* Elimină spațiile goale sub imagine */
}




.galerie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.galerie img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.galerie img:hover {
  transform: scale(1.05);
}

/* Lightbox */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 5px;
}

header {
  background-color: #333;
  color: white;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.btn {
  background: #ff6600;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
}



/*-------------------- Stilizare pentru body --------------------*/
/* Setează stilurile de bază pentru pagina */

body {
  background-image: url('floor-tile.png');
  background-size: 250px; /* Ajustează dimensiunea dorită */
  background-repeat: repeat;
}

