* {   
  font-family: Arial, sans-serif; /* Fontul principal pentru conținut */
  margin: 0;      /* Fără margini implicite */
  padding: 0;     /* Fără padding */
  text-align: center;  /* Centrează textul în pagină */
  background-image: url('floor-tile.png');
  background-size: 200px; /* Ajustează dimensiunea dorită */
  background-repeat: repeat;
}
.welcome-image {
  width: 100vw;         /* Ocupă toată lățimea ecranului */
  max-width: 100%;      /* Se asigură că nu depășește containerul */
  height: 500px /*auto*/;         /* Păstrează proporțiile */
  object-fit: cover;    /* Evită distorsiuni */
  display: block;       /* Elimină spațiile goale sub imagine */
}




footer {    
  color: rgb(0, 0, 0);      /* Culoare text specifică */
  text-align: center;         /* Text centrat */
  padding: 20px;              /* Spațiere internă */
  font-family: "Times New Roman", Times, serif;  /* Font clasic */
  font-style: italic;  
}
