

* {   
    font-family: Arial, sans-serif; /* Fontul principal pentru conținut */
    margin: 0;      /* Fără margini implicite */
    padding: 0;     /* Fără padding */
    text-align: center;  /* Centrează textul în pagină */
    background-image: url('floor-tile.png');
    background-size: 200px; /* Ajustează dimensiunea dorită */
    background-repeat: repeat;
  }

h1 {
    font-family: "Times New Roman", Times, serif;  /* Font clasic */
    font-style: italic;                              /* Stil italic */
}


p {
    font-family: "Times New Roman", Times, serif;  /* Font clasic */
    font-style: italic;                              /* Stil italic */
}

.welcome-image {
    width: 100%;           /* Imaginea se întinde pe 100% din container (responsive) */
    max-width: 600px;      /* Lățime maximă de 600px */
    /*height: ;*/         /* Înălțimea nu este specificată, astfel încât se păstrează raportul original */
    display: block;        /* Afișare ca element bloc */
    margin: 0px auto;      /* Centrează imaginea orizontal */
    /*align-items: center;*/ /* Comentariu: proprietate nefolosită aici */
}